@using AlarmClockApp.Components;

@using AlarmClockApp.Data;


<div class="AlarmClockControlsDiv bg-gray">
                <div class="controlsInputBox1 row">

                        <div class="col controlsInputBox1Col">
                            <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div>
                            <input class="singleDigetInputBox">
                            <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div>
                        </div>
                        <div class="col controlsInputBox1Col">
                            <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div>
                            <input class="singleDigetInputBox">
                            <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div>

                        </div>
                        <div class="col controlsInputBox1Col">
                            <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div>
                            <input class="singleDigetInputBox">
                            <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div>

                        </div>
                        <div class="col controlsInputBox1Col">
                            <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div>
                            <input class="singleDigetInputBox">
                            <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div>

                        </div>
                </div>
                
                    <button data-augmented-ui="all-hex-alt border" class="w-25 h-100 bg-orange2">
                        <h3 class="cyberpunk">Set</h3>
                        
                    </button>

                <div class="controlsInputBox2">
                            <div class="row">
                                <div class="col-5">
                                    <button data-augmented-ui="bl-clip both">Reset</button>
                                </div>
                                <div class="col-5">
                                    <button data-augmented-ui="bl-clip both">Manual</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <button data-augmented-ui="bl-clip both">AM/PM</button>
                                </div>
                                <div class="col-5">
                                    <button data-augmented-ui="bl-clip both">test2</button>
                                </div>
                            </div>
                        </div>
                    </div>
            
@code {

}



                                                @* <div class="AlarmClockControlsDiv bg-gray"> *@
                @*     <div class="controlsInputBox1 row"> *@

                @*         <div class="col controlsInputBox1Col"> *@
                @*             <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div> *@
                @*             <input class="singleDigetInputBox"> *@
                @*             <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div> *@
                @*         </div> *@
                @*         <div class="col controlsInputBox1Col"> *@
                @*             <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div> *@
                @*             <input class="singleDigetInputBox"> *@
                @*             <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div> *@

                @*         </div> *@
                @*         <div class="col controlsInputBox1Col"> *@
                @*             <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div> *@
                @*             <input class="singleDigetInputBox"> *@
                @*             <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div> *@

                @*         </div> *@
                @*         <div class="col controlsInputBox1Col"> *@
                @*             <div data-augmented-ui="all-hexangle-up border" class="bg-orange"></div> *@
                @*             <input class="singleDigetInputBox"> *@
                @*             <div data-augmented-ui="all-hexangle-down border" class="bg-orange"></div> *@

                @*         </div> *@
                @*     </div> *@

                @*     <button data-augmented-ui="all-hex-alt border" class="w-25 h-100 bg-orange2"> *@
                @*         <h3 class="cyberpunk">Set</h3> *@

                @*     </button> *@

                @* <div class="controlsInputBox2"> *@
                @*             <div class="row"> *@
                @*                 <div class="col-5"> *@
                @*                     <button data-augmented-ui="bl-clip both">Reset</button> *@
                @*                 </div> *@
                @*                 <div class="col-5"> *@
                @*                     <button data-augmented-ui="bl-clip both">Manual</button> *@
                @*                 </div> *@
                @*             </div> *@
                @*             <div class="row"> *@
                @*                 <div class="col-5"> *@
                @*                     <button data-augmented-ui="bl-clip both">AM/PM</button> *@
                @*                 </div> *@
                @*                 <div class="col-5"> *@
                @*                     <button data-augmented-ui="bl-clip both">test2</button> *@
                @*                 </div> *@
                @*             </div> *@
                @*         </div> *@
                @*     </div> *@