@using AlarmClockApp.Components;

@using AlarmClockApp.Data;


<div data-augmented-ui="tr-clip bl-clip-y both" class="AlarmClockDissmissAndWeatherDiv bg-gray">

                    <div data-augment-ui-reset>
                        <div data-augmented-ui="tr-clip bl-clip both" class="dismissButton bg-red">
                            <h1>Dismiss</h1>
                        </div>
                    </div>
                </div>




@code {

}
